secrets
.DS_Store
machine-learning/.DS_Store
frontend/package-lock.json
numpy_tester/
machine-learning/serverless-machine-learning/gosat/
*.pyc
machine-learning/models/
projectgroup-25-dev-1574635667.zip
*.ipynb_checkpoints/
data/
*.tar.gz